<% layout("/layouts/boilerplate") %>

<div class="container-fluid d-flex flex-column" style="height: 80vh;">

  <div class=" username-box p-3 border-bottom text-center">
    <h5 class="mb-0 text-center">
      <%= user.username %></h5>
      <small id="status-text" class="text-success d-none">Online</small>
  </div>

  <div id="chat-box" class="flex-grow-1 overflow-auto p-3">
 
    <% messages.forEach(msg => { %>
        <div class="msg <%= msg.senderId.toString() === currentUser ? 'me' : 'other' %>">
            <%= msg.message %>
        </div>
    <% }) %>

  </div>

  <div class="p-2 border-top bg-white">
    <div class="row">
      <div class="col-10">
        <input type="text" id="messageInput" class="form-control" placeholder="Type message">
      </div>
      <div class="col-2">
        <button class="btn btn-primary w-100" onclick="sendMessage()">Send</button>
      </div>
    </div>
  </div>

</div>

<script>
  const currentUser = "<%= currentUser %>";
  const otherUser = "<%= otherUser %>";
</script>


<% block('css') %>
<link rel="stylesheet" href="/css/chat.css">


<% block('js') %>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/click.js" ></script>
<script src="/js/chat.js" ></script>


